In [1]:
import numpy as np
import pandas as pd

from synthpop import Synthpop

In [2]:
data_path = '/keybase/team/anon_ai/datasets/Spikes/Generator/others/adult/adult.csv'

dtypes = {'age': 'int',
          'workclass': 'category',
          'fnlwgt': 'int',
          'education': 'category',
          'educational-num': 'int',
          'marital-status': 'category',
          'occupation': 'category',
          'relationship': 'category',
          'race': 'category',
          'gender': 'category',
          'capital-gain': 'int',
          'capital-loss': 'int',
          'hours-per-week': 'int',
          'native-country': 'category',
          'income': 'category'
          }

df = pd.read_csv(data_path, dtype=dtypes)

In [3]:
df.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K

In [4]:
gpop = Synthpop()

In [5]:
gpop.fit(df, dtypes)

train_age
train_workclass
train_fnlwgt
train_education
train_educational-num
train_marital-status
train_occupation
train_relationship
train_race
train_gender
train_capital-gain
train_capital-loss
train_hours-per-week
train_native-country
train_income

In [6]:
synth_df = gpop.generate(100)

generate_age
generate_workclass
generate_fnlwgt
generate_education
generate_educational-num
generate_marital-status
generate_occupation
generate_relationship
generate_race
generate_gender
generate_capital-gain
generate_capital-loss
generate_hours-per-week
generate_native-country
generate_income

In [7]:
synth_df.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,38,Private,257942,9th,5,Never-married,Other-service,Unmarried,Black,Female,0,0,15,United-States,<=50K
1,68,Self-emp-not-inc,198554,HS-grad,9,Widowed,Craft-repair,Not-in-family,Black,Male,0,0,40,United-States,<=50K
2,50,Private,123174,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,24,United-States,<=50K
3,27,Private,344094,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
4,20,Private,39477,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,48,United-States,<=50K
5,37,Private,101020,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
6,25,Private,227465,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,50,United-States,<=50K
7,30,Private,149507,HS-grad,9,Married-civ-spouse,Transport-moving,Wife,White,Female,0,0,27,United-States,<=50K
8,34,Private,118710,HS-grad,9,Never-married,Adm-clerical,Not-in-family,Other,Female,0,0,40,United-States,<=50K
9,32,Private,226010,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,32,United-States,<=50K